/* main section */
 
 
 
 
 
 
 
 
 /*end main section */
 
 
 /* section-1 */
 .sumon{
    background-color:#C9BDB3;
}
.sss{
    width:100%;
    height:500px;
}














/* section-1 */


/* section-2 */

.ccc{
    border:1px solid;
    padding:20px;
    border-radius:50%;
    border-color:white;
background:#F0F0F0;
}













/* section-2 */


/* section-3 */
.aaa{
    background:#CFC1B3;
    width:100%;
    height:400px;
    position:relative;
}

.bbb{
    position:absolute:
    bottom:50%;
}
.btn{
    background:#B0CD3B;
    color:white;
}

.vvv{
    background:#1BBC9D;
     color:white;
}
h1{
    color:white;
}














/* section-3 */


/* section-4 */
.mmm{
    background-color:#ECECEC;
    color:black;
}



















/* section-4 */

/* section5 */


.cono h1,h2{
    color:white;
}

.kkk{
    background:#CFC1B3;
    width:100%;
    height:300px;
    position:relative;
}









/* end section5 */

/* section5 */


.hhh{
    width:200px;
   
}






/* section5 */
